<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.Conexion" connectionString="Data Source=mmena-pc;Initial Catalog=financiera;User ID=sa;Password=M!Contras3na"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>